footer{
    background: $black-color;
    color:$light-color;
    padding-top:6rem;
    margin-top: 6rem;
    .container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 4rem;
        font-size: 0.85;
        a{
            color: $light-color ;
            transition: all 400ms ease;
            &:hover{
                color: $white-color;
            }
        }
        article{
            display: flex;
            flex-direction: column;
            gap: .7rem;
            .btn-primary{
                margin-bottom: 1rem;
                font-size: .9rem;
            }
            &>div{
                display: flex; 
                align-items: center;
                gap: 0.6rem;
            }
        }
    }
    .copyright{
        text-align: center;
        border-top: 2px solid rgba($white-color,0.4);
        padding: 1rem 0;
    }
}
/*===============media querries(Medium devices)==============*/

@media screen and (max-width:1024px) {
    footer{
        .container{
            grid-template-columns: 1fr 1fr;
        }
    }
} 



/*===============media querries(Small devices)==============*/
@media screen and (max-width:600px) {
    footer{
        .container{
            grid-template-columns: 1fr;
            text-align: center;

            .btn-primary{
                margin: 0 auto;
            }
        }
        article{
            &>div{
                justify-content: center;
            }
        }
    }
} 