#services{
    .container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;

        article{
            @include gradientbackground;
            padding: 1.5rem;
            border: 1rem;
            display: flex;
            gap: 1.5rem;
            height: fit-content;
            border-radius: 1rem;
            &:hover{
                margin-top: -0.5rem;
            }
            i{
                font-size: 1.7rem;
                color: $secondary-color;
            }
            div{
                h4{
                    margin-bottom: 1rem;
                }
            }
        }
    }
}


/*===============media querries(medium devices)==============*/

@media screen and (max-width:1024px) {
  #services{
    .container{
        grid-template-columns:1fr 1fr;
        gap: 1rem;
        
        article{
            gap: 0.8rem;
            &:hover{
                margin: 0;
        }
        }
    }
  }
}



/*===============media querries(Small devices)==============*/
@media screen and (max-width:600px) {
    #services{
        .container{
            grid-template-columns: 1fr;
        }
    }
}